

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
}

.navBar a{
    color: antiquewhite;
    text-decoration: none;
}

.navBar a:hover{
    color: #b1bd01;
}

.navBar ul{
    display: flex;
    gap: 20px;
    list-style: none;
}