* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Para que o padding e a borda não aumentem o tamanho do elemento */
}

body {
  overflow-x: hidden;
  width: 100%;
  background-color: #dbdbdb;
  font-family: monospace;
}
