/* Estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #3a3a3a;
  font-family: monospace;
}

img {
  border-radius: 8px;
  margin: 10px auto;
  display: block;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  background-color: black;
  color: goldenrod;
}

p {
  color: black;
  font-size: 1rem;
}