/* Estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100%;
  background-color: #dbdbdb;
  font-family: monospace;
}

img {
  border-radius: 8px;
  margin: 10px auto;
}

h1 {
  text-align: center;
}

h2, h3 {
  text-align: center;
  background-color: black;
  color: goldenrod;
}

p {
  color: black;
  font-size: 1rem;
}