/* cards com cores entre tons de branco e cinza */

.blog {
    background-color: #000000;
    border: 2px solid #928800;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.blog h2 {
    color: #ffffff;
}