.postagem {
    display: flex;
    flex-direction: column;
    background-color: #b0b0b0;
    border: 2px dashed #897200;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
}

.postagem img {
    border-radius: 50%;
}

.postagem small {
    font-size: 0.8rem;
    color: #333;
}